<h1>New Subgenre</h1>

<%= render 'form', subgenre: @subgenre %>
<br>
&nbsp;<%= link_to 'Back', subgenres_path,class: "al" %> |
&nbsp;<%= link_to 'Home', admin_url ,class: "al"%> |
&nbsp;<%= link_to 'logout', logout_url,class: "al" %><br>